.card-item {
    margin: 1rem;

    // define card size
    @media (min-width: 40rem) {
        flex-basis: calc(50% - 2rem);
    }

    @media (min-width: 56rem) {
        flex-basis: calc(33.33% - 2rem);
    }

    background-color: #fcd401;
    color: black;
    border-radius: 0px 0px 0.5rem 0.5rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.3s linear;

    @media (hover: hover) {
        &:hover {
            color: white;
            background-color: black;
            cursor: pointer;

            .card-image .external {
                display: inline;
            }
        }
    }

    .card-content {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.875rem;
        margin-bottom: 1rem;
        overflow-wrap: break-word;
        min-width: 0;

        .card-streamer-table {
            width: 80%;
            font-size: 1rem;

            th,
            td {
                padding: 1px 2px;
                width: 100%;
            }
        }

        .card-text-item {
            font-size: 1.2em;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .cards-list-item .card-item {
        transition: none;

        @media (hover: hover) {
            &:hover {
                color: black;
                background-color: #fcd401;
            }
        }
    }
}
